.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* Subtracting navbar height */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Spacing between form elements */
}

input,
button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.logo {
  width: 100px;  /* Adjust as per your needs */
  height: auto;
  margin-bottom: 20px;  /* Space between the logo and the input box */
}
